@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-fredoka;
  }
}

* {
  scroll-behavior: smooth;
}

.cover {
  background: rgba(94, 100, 114, 0.8);
}

.hero {
  background-image: url('/assets/img/background.webp');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
  100% {
    -webkit-transform: translateX(-0);
    transform: translateX(0);
  }
}

/* react-sequence-viewer */
.badge {
  padding: 5px !important;
}

.sequenceHeader {
  font-weight: bold;
}

.form-control {
  border-radius: 0.5rem;
  padding: 2px 6px;
  outline-color: #F79219;
  border-color: #F79219;
  border-width: 1.5px;
  font-weight: normal;
}

.pull-right {
  margin-left: 10px;
}

/* pro-sequence-viewer */
.root {
  display: inline-flex;
  overflow-x: auto;
  background-color: white;
  border: 1px solid rgba(107, 114, 128, 1);
  border-radius: 0.5em;
  padding: 4px;
  width: 100%;
}

.cnk {
  padding-top: 4px;
}

/* msa-viewer */
.biojs_msa_headers {
  width: 250px !important;
}

.biojs_msa_labels {
  width: 250px !important;
}