@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-montserrat;
  }
}

* {
  scroll-behavior: smooth;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
  100% {
    -webkit-transform: translateX(-0);
    transform: translateX(0);
  }
}